<%- include('../includes/html-head.ejs') %>

</head>
<body>
    <%- include('../includes/navbar.ejs') %>
    <h1><%= title %></h1>

    <%
        <!-- if contact given we're in edit mode, otherwise adding new contact mode -->
        let defaults = {
            firstName: '',
            lastName: ''
        }
        if(contact){
            defaults = {...contact}
        }
    %>

    <form action="/contact/save" method="POST">
        <input type="text" name="firstName" id="firstName" value="<%= defaults.firstName %>">
        <input type="text" name="lastName" id="lastName" value="<%= defaults.lastName %>">
        <button type="submit"><%= contact ? 'Update contact' : 'Add contact' %></button>
        
        <%- contact ? `<input type="hidden" name="id" value="${contact.id}" >` :""%>
    </form>


<%- include('../includes/html-end.ejs') %>
    


