<%- include('../includes/html-head.ejs') %>

</head>

<body>
    <%- include('../includes/navbar.ejs') %>
    <h1><%= title %></h1>

    <p>Do you really want to delete contact <span style="font-weight: bold"> <%= contact.firstName %> <%= contact.lastName %> </span>?</p>

    <form action="" method="POST">
        <button type="submit">Yes, delete contact</button>
        <a href="../<%= contact.id %>">Cancel</a>
        <input type="hidden" name="id" value="<%= contact.id %>">
    </form>

    <%- include('../includes/html-end.ejs') %>
