<%- include('../includes/html-head.ejs') %>

<div class="card">
    <div class="card-header">
        <h1 class="card__title"><%= title %></h1>
    </div>
    <div class="card-body">

        <p>
            Do you really want to delete contact
            <span class="highlighted">
                <%= contact.firstName %> <%= contact.lastName %> 
            </span>?
        </p>
    
        <form id="deleteContactForm" method="POST">
            <input type="hidden" name="id" value="<%= contact.id %>" />
        </form>

    </div>
    <div class="card-footer text-muted">
        <a href="../<%= contact.id %>?edit=true" class="btn btn-secondary"><i class="fas fa-times-circle"></i> Cancel</a>
        
        <button type="submit" form="deleteContactForm" class="btn btn-danger"><i class="fas fa-trash-alt"></i> Yes, delete contact</button>
    </div>
</div>

<%- include('../includes/html-end.ejs') %>
