<%- include('../includes/html-head.ejs') %>

</head>

<body>
    <%- include('../includes/navbar.ejs') %>
    <h1>Contact details</h1>
    <p>Id: <%= contact.id %></p>
    <p>First name: <%= contact.firstName %></p>
    <p>Last name: <%= contact.lastName %></p>

    <%- include('../includes/html-end.ejs') %>