<%- include('../includes/html-head.ejs') %>

</head>

<body>
    <%- include('../includes/navbar.ejs') %>
    <h1>Contact list</h1>

    <ul>
        <% for(let contact of contacts) { %>
            <li><a href="/contact/<%= contact.id %>"> <%= contact.id %>. <%= contact.firstName %> <%= contact.lastName %></a></li>
        <% } %>
    </ul>

    <%- include('../includes/html-end.ejs') %>
