<%- include('../includes/html-head.ejs') %>

<div class="card">
    <div class="card-header __responsive">
        <h1 class="card__title card__title __responsive__item"><%= title %></h1>
        <div class="btn-group card__title __responsive__item" role="group" aria-label="Contacts' actions buttons group">
            <a href="add" class="btn btn-primary"><i class="fas fa-plus"></i> Add new contact</a>
        </div>
    </div>
    <div class="card-body">

       
        <% if(contacts.length > 0) {%>
            
            <ul class="list-group">
            <% for(let contact of contacts) { %>
                <li class="list-group-item">
                    <a href="/contact/<%= contact.id %>">
                        <%= contact.firstName %> <%= contact.lastName %></a
                >
            </li>
            <% } %>
        </ul>
        <% } else { %>
            <p>There are no contacts yet.</p>
        <% } %> 

    </div>
</div>

<%- include('../includes/html-end.ejs') %>
