<%- include('../includes/html-head.ejs') %>

<div class="card">
    <div class="card-header">
        <h1 class="card__title"><%= title %></h1>
    </div>
    <div class="card-body">

<p>
    Do you really want to delete contact
    <span class="highlighted">
        <%= contact.firstName %> <%= contact.lastName %> </span
        >?
    </p>
    
    <form action="" method="POST">
        <button type="submit">Yes, delete contact</button>
    <a href="../<%= contact.id %>">Cancel</a>
    <input type="hidden" name="id" value="<%= contact.id %>" />
</form>

    </div>
</div>

<%- include('../includes/html-end.ejs') %>
