<%- include('../includes/html-head.ejs') %>

</head>
<body>
    <%- include('../includes/navbar.ejs') %>
    <h1><%= title %></h1>

    <%
        <!-- if contact given we're editing contact or contact details view, otherwise adding new contact -->
        let defaults = {
            firstName: '',
            lastName: ''
        }
        if(contact){
            defaults = {...contact}
        }
    %>


    <form action="/contact/save" method="POST">
        <!-- for editing contact when editMode is not set - editing is disabled -->
        <input type="text" name="firstName" id="firstName" value="<%= defaults.firstName %>" <%= contact && !editMode ? "disabled" : "" %>>
        <input type="text" name="lastName" id="lastName" value="<%= defaults.lastName %>" <%= contact && !editMode ? "disabled" : "" %>>

        <% if (contact && editMode){ %>
                <!-- editing contact -->
                <button type="submit">Update contact</button>
                <a href="<%= contact.id%>/delete">Delete contact</a>
                <a href="<%= contact.id%>">Cancel</a>
        <% } else if(contact && !editMode) { %>
                <!-- contact's detail view -->
                <a href="?edit=true">Edit</a>
                <a href="/contact/list">Back to contacts list</a>
        <% } else { %>
            <!-- adding new contact -->
            <button type="submit">Save contact</button>
            <a href="/contact/list">Cancel</a>
        <% } %>
        
        
        <%- contact ? `<input type="hidden" name="id" value="${contact.id}" >` :""%>
    </form>

<%- include('../includes/html-end.ejs') %>
    


