<%- include('./includes/html-head.ejs') %>

</head>

<body>
    <%- include('./includes/navbar.ejs') %>
    <h1><%= title %></h1>

    <p><%= message.length > 0 ? message : '' %></p>
    <p><%= error %></p>

    <%- include('./includes/html-end.ejs') %>
