<!-- partial to show list of contacts enrolled to the course -->
<!-- by default show "disenroll" button but it can be disabled by passing {disabledEnrolling: true} to inlcude-->

<!-- prettier-ignore -->

<!-- set default value to disabledEnrolling to false -->
<% try{disabledEnrolling = disabledEnrolling} catch(e){ disabledEnrolling =
false; } %> 

<% if(course.enrolled && course.enrolled.length > 0) { %>
<!-- if there is someone enrolled -->

<ul class="list-group">
    <% for(const contact of course.enrolled){ %>
    <li class="list-group-item">
        <!-- if contact not found show its id and change button to 'clean' to disenroll it from the course -->
        <% if(contact.notFound) { %> not existing contact with id <%= contact.id
        %> <% } else { %> <%= contact.firstName %> <%= contact.lastName %>
        <a href="/contact/<%= contact.id %>" class="btn btn-outline-secondary btn-sm" data-toggle="tooltip" title="contact's detail"><i class="fas fa-user"></i></a>
        <% } %> <% if(!disabledEnrolling) { %>
        <form class="inline" action="/course/disenroll/ %>" method="POST">
            <input type="hidden" name="courseId" value="<%= course.id %>" />
            <input type="hidden" name="contactId" value="<%= contact.id %>" />
            <input
                type="hidden"
                name="redirectBackPath"
                value="<%= locals.path %>"
            />
            <% if(!contact.notFound) { %>
            <button class="btn btn-outline-danger btn-sm" data-toggle="tooltip" title="disenroll contact"><i class="fas fa-user-minus"></i></button>
            <!-- <button class="btn btn-light btn-sm"><%= (contact.notFound) ? "clean" : "disenroll" %></button> -->
            <% } else { %>
                <button class="btn btn-outline-danger btn-sm" data-toggle="tooltip" title="clean enrollment"><i class="fas fa-trash"></i></button>
            <% } %>
        </form>
        <% } %>
    </li>
    <% } %>
</ul>
<% } else {%>
<p>No one is enrolled in the course</p>
<% } %>
