<!-- partial to show list of contacts enrolled to the course -->
<!-- by default show "disenroll" button but it can be disabled by passing {disabledEnrolling: true} to inlcude-->

<!-- prettier-ignore -->

<!-- set default value to disabledEnrolling to false -->
<% try{disabledEnrolling = disabledEnrolling} catch(e){ disabledEnrolling =
false; } %> <% if(course.enrolled && course.enrolled.length > 0) { %>

<ul>
    <% for(const contact of course.enrolled){ %>
    <li>
        <!-- if contact not found show its id and change button to 'clean' to disenroll it from the course -->
        <% if(contact.notFound) { %> not existing contact with id <%= contact.id
        %> <% } else { %> <%= contact.firstName %> <%= contact.lastName %>
        <a href="/contact/<%= contact.id %>">contact's detail</a>
        <% } %> <% if(!disabledEnrolling) { %>
        <form action="/course/disenroll/ %>" method="POST">
            <input type="hidden" name="courseId" value="<%= course.id %>" />
            <input type="hidden" name="contactId" value="<%= contact.id %>" />
            <input
                type="hidden"
                name="redirectBackPath"
                value="<%= locals.path %>"
            />
            <button><%= (contact.notFound) ? "clean" : "disenroll" %></button>
        </form>
        <% } %>
    </li>
    <% } %>
</ul>
<% } else {%>
<p>No one is enrolled in the course</p>
<% } %>
