<!-- partial to show course signedIn contacts -->
<!-- prettier-ignore -->
<% if(course.signedIn && course.signedIn.length > 0) { %>
<ul>
    <% for(const contact of course.signedIn){ %> <% if(contact.notFound) { %>
    <li>
        contact <%= contact.id %> not found
        <a href="/course/<%= course.id %>/disenroll/<%= contact.id %>">clean</a>
    </li>
    <% } else { %>
    <li>
        <%= contact.firstName %> <%= contact.lastName %>
        <a href="/contact/<%= contact.id %>">contact's detail</a>

        <a href="/course/<%= course.id %>/disenroll/<%= contact.id %>"
            >disenroll</a
        >
    </li>
    <% } %> <% } %>
</ul>
<% } else {%>
<p>No one signed to the course</p>
<% } %>
