<%- include('../includes/html-head.ejs') %>

</head>

<body>
    <%- include('../includes/navbar.ejs') %>
    <h1><%= title %></h1>

        <h2>Signed in:</h2>
        <% if(course.signedIn && course.signedIn.length > 0) {%>
        <ul>
            <% for(const contact of course.signedIn) { %>
            <li><%= contact.firstName %> <%= contact.lastName %></li>
            <% } %>
        </ul>
        <% } else { %>
        <p>There are no signed in yet.</p>
        <% } %>

        <h2>Sign in:</h2>
        <% if(contacts.length > 0) {%>
        <ul>
            <% for(let contact of contacts) { %>
            <li>
                <a href="/course/<%= course.id %>/signIn/<%= contact.id %>">
                    <%= contact.firstName %> <%= contact.lastName %></a>
            </li>
            <% } %>
        </ul>
        <% } else { %>
        <p>There are no contacts yet.</p>
        <% } %>

    <%- include('../includes/html-end.ejs') %>