<%- include('../includes/html-head.ejs') %>

</head>
<body>
    <%- include('../includes/navbar.ejs') %>
    <h1><%= title %></h1>

    <%
            <!-- if course given we're editing course or course details view, otherwise adding new course -->
            let defaults = {
                courseName: '',
            }
            if(course){
                defaults = {...course}
            }
        %>

    <form action="/course/save" method="POST">
        <!-- for editing course when editMode is not set - editing is disabled -->
        <input type="text" name="courseName" id="courseName" value="<%= defaults.courseName %>"
            <%= course && !editMode ? "disabled" : "" %>>
    
        <% if (course && editMode){ %>
        <!-- editing course -->
        <button type="submit">Update course</button>
        <a href="<%= course.id%>/delete">Delete course</a>
        <a href="<%= course.id%>">Cancel</a>
        <% } else if(course && !editMode) { %>
            <!-- course's detail view -->
            <a href="?edit=true">Edit</a>
            <a href="/course/list">Back to courses list</a>
            <a href="<%= course.id%>/signIn">Sign in to the course</a>
        <% } else { %>
        <!-- adding new course -->
        <button type="submit">Save course</button>
        <a href="/course/list">Cancel</a>
        <% } %>
    
    
        <%- course ? `<input type="hidden" name="id" value="${course.id}" >` :""%>
    </form>

    <% if(course &&  !editMode) { %>
        <% if(course.signedIn && course.signedIn.length > 0) { %>
            <% for(const contact of course.signedIn){ %>
                <% if(contact.notFound) { %>
                    <li>contact <%= contact.id %> not found</li>
                    <% } else { %>
                    <li><a href="/contact/<%= contact.id %>"><%= contact.firstName %> <%= contact.lastName %></a> </li>
                <% } %>
            <% } %>
        <% } else {%>
            <p>No one signed to the course</p>
        <% } %>
    <% } %>


<%- include('../includes/html-end.ejs') %>
    


