<%- include('../includes/html-head.ejs') %>

<!-- BOOTSTRAP CARD START -->
<%- include('../includes/bootstrap/bootstrap-card-start.ejs') %>
<!-- Content inside card-body -->

<h2>Enrolled:</h2>

    <!-- showing list of enrolled contacts -->
    <%- include('../includes/course/enrolled-list.ejs') %>

<h2>Enroll:</h2>
<% if(contacts.length > 0) {%>
    <ul class="list-group ">
        <% for(let contact of contacts) { %>
        <li class="list-group-item my-list-item">
            <% if(!contact.alreadyEnrolled) {%>
                <!-- if contact not already enrolled in the course - print link to enroll the contact -->
                
                
                <%= contact.firstName %> <%= contact.lastName %>
                <div class="btn-toolbar" role="toolbar">
                    <!-- link to enroll not enrolled contact -->
                    <a href="/course/<%= course.id %>/enroll/<%= contact.id %>" class="btn btn-outline-success btn-sm" data-toggle="tooltip" title="enroll contact">
                        %><i class="fas fa-user-plus"></i></a>
                </div>
            <% } else {%>
                <!-- if contact already enrolled - print contact with disabled enrolled button (rather icon because btn is disabled) -->
                <span class="<%= contact.alreadyEnrolled ? 'disabled' : ''  %>">
                    <%= contact.firstName %> <%= contact.lastName %> <%= contact.alreadyEnrolled ? ' (enrolled)' : "" %>
                </span>
                <div class="btn-toolbar" role="toolbar">
                    <button class="btn btn-outline-primary btn-sm" data-toggle="tooltip" title="contact enrolled" disabled><i class="fas fa-user-check"></i></button>
                </div>
            <% } %>
            
        </li>
        <% } %>
    </ul>
<% } else { %>
    <p>There are no contacts yet.</p>
<% } %>

<!-- End of content inside card-body -->
<%- include('../includes/bootstrap/bootstrap-card-end.ejs') %>
<!-- BOOTSTRAP CARD END -->

<%- include('../includes/html-end.ejs') %>