<%- include('../includes/html-head.ejs') %>

</head>
<body>
    <%- include('../includes/navbar.ejs') %>
    <h1><%= title %></h1>

    <%
            <!-- if course given we're editing course or course details view, otherwise adding new course -->
            let defaults = {
                courseName: '',
            }
            if(course){
                defaults = {...course}
            }
        %>

    <form action="/course/save" method="POST">
        <!-- for editing course when editMode is not set - editing is disabled -->
        <input type="text" name="courseName" id="courseName" value="<%= defaults.courseName %>"
            <%= course && !editMode ? "disabled" : "" %>>
    
        <% if (course && editMode){ %>
        <!-- editing course -->
        <button type="submit">Update course</button>
        <a href="<%= course.id%>/delete">Delete course</a>
        <a href="<%= course.id%>">Cancel</a>
        <% } else if(course && !editMode) { %>
            <!-- course's detail view -->
            <a href="?edit=true">Edit</a>
            <a href="/course/list">Back to courses list</a>
            <a href="<%= course.id%>/signIn">Manage enrolled</a>
        <% } else { %>
        <!-- adding new course -->
        <button type="submit">Save course</button>
        <a href="/course/list">Cancel</a>
        <% } %>
    
    
        <%- course ? `<input type="hidden" name="id" value="${course.id}" >` :""%>
    </form>

    <% if(course &&  !editMode) { %>
        <!-- showing list of signed in contact -->
        <%- include('../includes/course/signedId-list.ejs', {disabledEnrolling: true}) %>
    <% } %>


<%- include('../includes/html-end.ejs') %>
    


