<%- include('../includes/html-head.ejs') %>

<!-- BOOTSTRAP CARD START -->
<%- include('../includes/bootstrap/bootstrap-card-start.ejs') %>
<!-- Content inside card-body -->

<p>
    Do you really want to delete course
    <span class="highlighted"> <%= course.courseName %> </span>?
</p>
<p>
    Students enrolled to the course:
    <span class="highlighted"> <%= course.enrolled.length %></span>
</p>

<form action="" method="POST">
    <button type="submit">Yes, delete course</button>
    <a href="../<%= course.id %>">Cancel</a>
    <input type="hidden" name="id" value="<%= course.id %>" />
</form>

<!-- End of content inside card-body -->
<%- include('../includes/bootstrap/bootstrap-card-end.ejs') %>
<!-- BOOTSTRAP CARD END -->

<%- include('../includes/html-end.ejs') %>
