<%- include('../includes/html-head.ejs') %>

</head>

<body>
    <%- include('../includes/navbar.ejs') %>
    <h1><%= title %></h1>

        <h2>Signed in:</h2>

            <!-- showing list of signed in contact -->
            <%- include('../includes/course/signedId-list.ejs') %>

        <h2>Sign in:</h2>
        <% if(contacts.length > 0) {%>
        <ul>
            <% for(let contact of contacts) { %>
            <li>
                <% if(!contact.alreadySigned) {%>
                <!-- if contact not already signed to the course - print link to sign in the contact -->
                <a href="/course/<%= course.id %>/signIn/<%= contact.id %>">
                    <%= contact.firstName %> <%= contact.lastName %> %></a>
                <% } else {%>
                <!-- if contact already signed in - just print contact name without link -->
                    <span class="<%= contact.alreadySigned ? 'disabled' : ''  %>">
                        <%= contact.firstName %> <%= contact.lastName %> <%= contact.alreadySigned ? ' (signed)' : "" %>
                    </span>
                <% } %>
            </li>
            <% } %>
        </ul>
        <% } else { %>
        <p>There are no contacts yet.</p>
        <% } %>

    <%- include('../includes/html-end.ejs') %>