<%- include('../includes/html-head.ejs') %>

</head>

<body>
    <%- include('../includes/navbar.ejs') %>
    <h1><%= title %></h1>

        <h2>Signed in:</h2>
        <% if(course.signedIn && course.signedIn.length > 0) {%>
        <ul>
            <% for(const contact of course.signedIn) { %>
            <li><%= contact.id %></li>
            <% } %>
        </ul>
        <% } else { %>
        <p>There are no signed in yet.</p>
        <% } %>

        <h2>Sign in:</h2>
        <%- include('../includes/contact-list.ejs') %>


    <%- include('../includes/html-end.ejs') %>