<%- include('../includes/html-head.ejs') %>

<div class="card">
    <div class="card-header">
        <h1 class="card__title"><%= title %></h1>
    </div>
    <div class="card-body">

        <p>
            Do you really want to delete course
            <span class="highlighted"> <%= course.courseName %> </span>?
        </p>
        <p>
            Students enrolled to the course:
            <span class="highlighted"> <%= course.enrolled.length %></span>
        </p>

        <form id="deleteCourseForm" method="POST">
            <input type="hidden" name="id" value="<%= course.id %>" />
        </form>

    </div>

    <div class="card-footer text-muted">
        <a href="../<%= course.id %>?edit=true" class="btn btn-secondary"><i class="fas fa-times-circle"></i> Cancel</a>
    
        <button type="submit" form="deleteCourseForm" class="btn btn-danger"><i class="fas fa-trash-alt"></i> Yes, delete
            course</button>
    </div>
</div>

<%- include('../includes/html-end.ejs') %>
